
<div class="jumbotron text-center">
  <h1> <i class="far fa-gem"></i> BET CLARITY </h1>
  <p>Consolidating Bets to Simplify Results</p>
</div>

<style>
.bg-grey {
  background-color: #f6f6f6;
}
</style>

<style>
.jumbotron {
  background-color: #5F9EA0;
  color: #fff;
  padding: 100px 25px;
}


</style>


<style>
.logo {
  font-size: 200px;
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}
</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>About Bet Clarity</h2>
      <h4>We are working to make tracking your bets easier and more fun</h4>
      <p>By builing connections with bookies we are able to utilize your data within their system to build a 
      personalized analytics experience</p>
      <button class="btn btn-default btn-lg">Get in Touch</button>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo"></span>
    </div>
    <div class="col-sm-8">
      <h2>Our Values</h2>
      <h4><strong>MISSION:</strong> To bring clarity to sports betting</h4>
      <p><strong>VISION:</strong> Our vision is for all sports lovers to easily track their bets by providing clear 
      and concise data analysis. </p>
    </div>
  </div>
</div>


<div class="container text-center">
  <h3>Who We Are</h3>
  <p><em>We love Sports...</em></p>
  <p>(and analytics)</p>
  


<br>
  <div class="row">
    <div class="col-sm-2">
      <p><strong>Todd</strong></p>
      <img src="https://ca.slack-edge.com/T4Q9DCP7F-UKZGJL9TL-b08bf6cd518a-512" class="img-circle person" alt="Random Name">
    </div>
    <div class="col-sm-2">
      <p><strong>Tyler</strong></p>
      <img src="https://ca.slack-edge.com/T4Q9DCP7F-UL4JFJ3C1-c191bc4da283-512" class="img-circle person" alt="Random Name">
    </div>
    <div class="col-sm-2">
      <p><strong>Amanda</strong></p>
      <img src="https://ca.slack-edge.com/T4Q9DCP7F-U018C9SUHV0-02f79fca44cd-512" class="img-circle person" alt="Random Name">
    </div>
    <div class="col-sm-2">
      <p><strong>Anh</strong></p>
      <img src="https://ca.slack-edge.com/T4Q9DCP7F-U018CFUA2FM-4e806093f14b-512" class="img-circle person" alt="Random Name">
    </div>
        <div class="col-sm-2">
      <p><strong>Rachel</strong></p>
      <img src="https://ca.slack-edge.com/T4Q9DCP7F-ULAEX3SLU-a09431e8ac8c-512" class="img-circle person" alt="Random Name">
    </div>
  

  </div>
</div>

<style>
.person {
  border: 10px solid transparent;
  margin-bottom: 25px;
  width: 70%;
  height: 70%;
  opacity: 0.7;
}
.person:hover {
  border-color: #f1f1f1;
}

</style>

